{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2> 
    {% for listing in listings %}
	<div class="for">    
	    <div class='container'>
		<div class='left'>
		    <div>
			<a href='{% url "list_item" listing.w_listing.slug %}'><img src='{{ listing.w_listing.image }}' alt="item image" width='250px' height='300'></a>
		    </div>
		</div>
		<div class='right'>
		    <h2><a href='{% url "list_item" listing.w_listing.slug %}'>{{ listing.w_listing.title }}</a></h2>
		    <p>{{ listing.w_listing.description }}</p>
		    <p>Price: ${{ listing.w_listing.starting_bid }}</p>
		    <p style="font-size: 14px; color: gray;">Created: {{ listing.w_listing.created }}</p>
		    <a href="{% url 'remove_watchlist' listing.w_listing.slug %}"  class="btn btn-primary">
			Remove from watchlist</a>
		</div>
	    </div>
	</div>
    {% empty %}
        <p>No item Yet</p>
    {% endfor %}


{% endblock %}
